{% extends "layout.html" %}

{% block main %}
<div class="p-5">
    <h2>Exams</h2>
    <p>You can add-update-delete your grades</p>

    <nav class="navbar bg-light">
        <a href="/exams/add_exams" class="btn btn-primary">Add New Grade</a>
        
    </nav>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Student Number</th>
            <th scope="col">Student Name</th>
            <th scope="col">Math</th>
            <th scope="col">Physics</th>
            <th scope="col">Biology</th>
            <th scope="col">History</th>
            <th scope="col">Sports</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>


            {% for student in students %}
            <tr>
                <td>{{ student.stu }}</td>
                <td>{{ student.StuName }}</td>
                <td>{{ student.math }}</td>
                <td>{{ student.physics }}</td>
                <td>{{ student.biology }}</td>
                <td>{{ student.history }}</td>
                <td>{{ student.sports}}</td>


                <td><a href="/delete_exams/{{ student.id}}" class="btn btn-outline-danger btn-sm"> Delete </a></td>

                <td><a href="/edit_exams/{{ student.id}}" class="btn btn-outline-success btn-sm"> Update </a></td>  

            </tr>
            {% endfor %}

            
        </tbody>
      </table>
</div>
{% endblock main %}